---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "_solarized";
@import "_initializr";
@import "_reveal";
@import "_checklists";
@import "_tabbed-inline-interface";

/*! main.scss */


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html { background: #fdf6e3; color: #657b83; }
.header-container { border-bottom: 0px solid #cb4b16; border-top: 3px solid #cb4b16; }
.footer-container, .main aside { border-top: 2px solid #cb4b16; }
.header-container, .footer-container, .main aside { background: #eee8d5; }
.title h1 { color: #cb4b16; }


img.resize {
  width: auto;
  height: auto;
  max-width: 640px;
  max-height: 480px;
  object-fit: contain;
}

.embed-youtube {
  margin-top: 12px;
  margin-bottom: 12px;
}



.webpage blockquote {
  background: #eee8d5;
  border-left: 3px solid #cb4b16;
  margin: 1.5em 0px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.webpage blockquote:before {
  color: #cb4b16;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.webpage blockquote p:first-of-type {
  display: inline;
}

body a,
body a:link {
  color: $base01;
  text-decoration: underline;
}

body a:visited {
    color: $base00;
    text-decoration: underline;
}
body a:hover {
    color: $base00;
    text-decoration: none;
}

header h1 a,
header p,
header h1 a:link,
header h1 a:visited {
    color: $base00;
    text-decoration: none;
}

footer nav,
footer nav ul li h2 a {
  font-size: 0.8em;
}

footer nav ul li.nested-header > h2 a {
  border-bottom: 1px solid $orange;
}
footer nav ul li.nested-header > h2 {
  margin-bottom: 4px;
}

footer nav,
footer nav a:link,
footer nav a:visited {
    color: $base02;
    text-decoration: none;
}

footer nav ul > li {
  display: block;
  min-width: 120px;
}

footer nav ul > li ul li {
  display: block;
}

footer img{
  display: none;
}

/* intermediate */
@media only screen and (min-width: 480px) {

}

/* wide */
@media only screen and (min-width: 768px) {
  footer nav ul > li {
    display: table-cell;
  }
  footer nav > ul > li{
    padding: 0px 12px 2px 6px;
  }
  footer img{
    display: block;
    float: right;
  }
}


